In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
data = pd.read_csv("../data/clean.csv")

H0: There is no relationship between education level and income level.
H1: There is a  relationship between education level and income level.

In [4]:
data_crosstab = pd.crosstab(data['income'], data['education'], margins = False)
data_crosstab

education,Assoc,Bachelors,HS-grad,Post-grad,Pre-HSgrad,Prof-school,Some-college
income,,,,,,,
<=50K,2564,4392,12367,1266,5323,193,7909
>50K,902,3178,2416,1792,338,592,1990

In [5]:
data['education'].nunique()

7

In [6]:
data['income'].nunique()

2

In [7]:
# Computing the degrees of freedom
(7-1)*(26-1)

150

In [8]:
st.chi2.ppf(0.95,df=150)

179.58063415418053

In [10]:
st.chi2_contingency(data_crosstab)

Chi2ContingencyResult(statistic=5915.363205331634, pvalue=0.0, dof=6, expected_freq=array([[ 2606.97280085,  5693.821149  , 11119.1225952 ,  2300.09314051,
         4257.95528725,   590.44248375,  7445.59254345],
       [  859.02719915,  1876.178851  ,  3663.8774048 ,   757.90685949,
         1403.04471275,   194.55751625,  2453.40745655]]))

pvalue < 0.05, I reject the null-hypothesis. There is relationship between level of education and income.